.header {
  font-size: xx-large;
  margin: 1rem;
}

.item {
  display: flex;
  align-items: center;
}

.item p {
  display: inline;
  color: white;
  font-size: large;
  padding: 0 1ch;
}

.item button {
  width: 1ch;
  margin: 0 1ch;
  padding: 0;
  max-width: 1ch;
}

.item input {
  color: white;
  width: 6ch;
}

.member-card {
  display: flex;
  align-items: center;
  padding: 1ch;
  font-size: large;
}